# Node
node_modules/
*.log

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
python/build/
python/dist/
python/*.egg-info/
python/.eggs/
.venv/
venv/
*.egg

# OS / editors
.DS_Store
.env
.idea/
.vscode/
*.swp
